/*GLOBALS*/
*{margin:0; padding:0; list-style:none;}
a{text-decoration:none;}
a:hover{color:#1bc1a3;}



#wrapper{
	width:auto;
	margin:0 auto;
	height:400px;
	position:relative;
	color:#fff;
	text-shadow:rgba(0,0,0,0.1) 2px 2px 0px;
}

#slider-wrap{
	width:auto;
	height:400px;
	position:relative;
	overflow:hidden;
}

#slider-wrap ul#slider{
	width:100%;
	height:100%;

	position:absolute;
	top:0;
	left:0;
}

#slider-wrap ul#slider li{
	float:left;
	position:relative;
	width:20%;
	height:400px;
}

#slider-wrap ul#slider li > div{
	position:absolute;
	top:20px;
	left:480px;
}

#slider-wrap ul#slider li > div h3{
	font-size:36px;
	text-transform:uppercase;
}

#slider-wrap ul#slider li > div span{
	font-family: Neucha, Arial, sans serif;
	font-size:21px;
}

#slider-wrap ul#slider li i{
	text-align:center;
	line-height:400px;
	display:block;
	width:100%;
	font-size:90px;
}


/*btns*/
.btns{
	position:absolute;
	width:50px;
	height:60px;
	top:50%;
	margin-top:-25px;
	line-height:57px;
	text-align:center;
	cursor:pointer;
	background:rgba(0,0,0,0.1);
	z-index:100;


	-webkit-user-select: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	-ms-user-select: none;

	-webkit-transition: all 0.1s ease;
	-moz-transition: all 0.1s ease;
	-o-transition: all 0.1s ease;
	-ms-transition: all 0.1s ease;
	transition: all 0.1s ease;
}

.btns:hover{
	background:rgba(0,0,0,0.3);
}

#next{right:-50px; border-radius:7px 7px 7px 7px;}
#previous{left:-50px; border-radius:7px 7px 7px 7px;}
#counter{
	top: 30px;
	right:35px;
	width:auto;
	position:absolute;
}

#slider-wrap.active #next{right:400px;}
#slider-wrap.active #previous{left:400px;}


/*bar*/
#pagination-wrap{
	min-width:20px;
	margin-top:350px;
	margin-left: auto;
	margin-right: auto;
	height:15px;
	position:relative;
	text-align:center;
}

#pagination-wrap ul {
	width:100%;
}

#pagination-wrap ul li{
	margin: 0 4px;
	display: inline-block;
	width:5px;
	height:5px;
	border-radius:50%;
	background:#fff;
	opacity:0.5;
	position:relative;
  top:0;


}

#pagination-wrap ul li.active{
  width:12px;
  height:12px;
  top:3px;
	opacity:1;
	box-shadow:rgba(0,0,0,0.1) 1px 1px 0px;
}




/*Header*/
h1, h2{text-shadow:none; text-align:center;}
h1{	color: #666; text-transform:uppercase;	font-size:36px;}
h2{ color: #7f8c8d; font-family: Neucha, Arial, sans serif; font-size:18px; margin-bottom:30px;}




/*ANIMATION*/
#slider-wrap ul, #pagination-wrap ul li{
	-webkit-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-moz-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-o-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	-ms-transition: all 0.3s cubic-bezier(1,.01,.32,1);
	transition: all 0.3s cubic-bezier(1,.01,.32,1);
}

/* tab 1*/
.double {
	line-height: 58px;
}
.title .glyphicon{
	padding: 3px;
	font-size: 13px;
    border-radius: 8px;
    color: #fff;
	
}
.data span.arrowup {
	color: #d88918;
}
.data span.arrowdown {
	color: #6bb10a;
}
.item-blue .glyphicon{
	background-color: #39a9ea;
}
.item-green {
	line-height: 58px;
}
.item-green .glyphicon{
	background-color: #6bb10a;
	line-height: 12px;
}
.item-orange .glyphicon{
	background-color:#d88918;
}
.item-red .glyphicon{
	background-color: #f14f4f;
}
.chart .chart-box {
	margin: 10px;
}

/* 鏁版嵁琛ㄦ牸label */
.content-wrapper .data-type {
	/*width: 90%;*/
	margin: 10px 5px;
	border:1px solid #d4d4d4;
	border-radius: 2px;
}
.data-type .title,
.data-type .data {
	padding: 3px 12px;
	border-top: 1px solid #d4d4d4;
	overflow: hidden;
    height: 42px;
}
.data-type .title {
    line-height: 34px;
	border-right: 1px solid #d4d4d4;
}

.data-type .data:last-child{
	border-right: 0;
}
.data-type .title{
	text-align: center;
	background: #ececec;
}
.data-type .data .line{
	vertical-align: middle;
	overflow: hidden;
	padding-bottom: 10px;
	padding-top: 10px;
}

/* label琛岄珮搴� */
.data-type .data > label {
	line-height:36px;
}
.data-type .data > .form-group {
	line-height:36px;
}
.data-type .data.text {
	line-height:36px;
}
/* label琛屽垎闅旂 */
.data-type .data.border-right {
	border-right: 1px solid #d4d4d4;
}

/* 琛ㄦ牸鍙屽�嶉珮搴� */
.data-type .title.rowHeight2x,
.data-type .data.rowHeight2x {
	height:84px;
}
.data-type .title.rowHeight2x {
	line-height:78px;
}
/*.data-type .data.rowHeight2x > label {
	line-height:78px;
}*/
.data-type .title.editer,
.data-type .data.editer {
	height:320px;
}
.data-type .title.editer {
	line-height:300px;
}

/*娓呴櫎parding*/
.padding-clear {
	padding-right: 0px;
	padding-left: 0px;
}

/* 鏂囦欢涓婁紶 */
/*a  upload */
.a-upload {
    padding: 4px 10px;
    height: 35px;
    line-height: 25px;
    position: relative;
    cursor: pointer;
    color: #888;
    background: #fafafa;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
    display: inline-block;
    *display: inline;
    *zoom: 1
}
.a-upload  input {
    position: absolute;
    font-size: 100px;
    right: 0;
    top: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    cursor: pointer
}
.a-upload:hover {
    color: #444;
    background: #eee;
    border-color: #ccc;
    text-decoration: none
}



