<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.weshare.mapper.WsArticleMapper" >
  <resultMap id="BaseResultMap" type="com.weshare.pojo.WsArticle" >
    <id column="a_id" property="aId" jdbcType="BIGINT" />
    <result column="a_name" property="aName" jdbcType="VARCHAR" />
    <result column="a_kind" property="aKind" jdbcType="VARCHAR" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="a_seenum" property="aSeenum" jdbcType="INTEGER" />
    <result column="a_ctime" property="aCtime" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.weshare.pojo.WsArticle" extends="BaseResultMap" >
    <result column="a_text" property="aText" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    a_id, a_name, a_kind, user_id, a_seenum, a_ctime,a_text
  </sql>
  <sql id="Blob_Column_List" >
    a_text
  </sql>
  <select id="selectByExampleWithBLOBs" resultMap="ResultMapWithBLOBs" parameterType="com.weshare.pojo.WsArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ws_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.weshare.pojo.WsArticleExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ws_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from ws_article
    where a_id = #{aId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ws_article
    where a_id = #{aId,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.weshare.pojo.WsArticleExample" >
    delete from ws_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.weshare.pojo.WsArticle" >
    insert into ws_article (a_id, a_name, a_kind, 
      user_id, a_seenum, a_ctime, 
      a_text)
    values (#{aId,jdbcType=BIGINT}, #{aName,jdbcType=VARCHAR}, #{aKind,jdbcType=VARCHAR}, 
      #{userId,jdbcType=BIGINT}, #{aSeenum,jdbcType=INTEGER}, #{aCtime,jdbcType=VARCHAR}, 
      #{aText,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.weshare.pojo.WsArticle" >
    insert into ws_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        a_id,
      </if>
      <if test="aName != null" >
        a_name,
      </if>
      <if test="aKind != null" >
        a_kind,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="aSeenum != null" >
        a_seenum,
      </if>
      <if test="aCtime != null" >
        a_ctime,
      </if>
      <if test="aText != null" >
        a_text,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aId != null" >
        #{aId,jdbcType=BIGINT},
      </if>
      <if test="aName != null" >
        #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aKind != null" >
        #{aKind,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="aSeenum != null" >
        #{aSeenum,jdbcType=INTEGER},
      </if>
      <if test="aCtime != null" >
        #{aCtime,jdbcType=VARCHAR},
      </if>
      <if test="aText != null" >
        #{aText,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.weshare.pojo.WsArticleExample" resultType="java.lang.Integer" >
    select count(*) from ws_article
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update ws_article
    <set >
      <if test="record.aId != null" >
        a_id = #{record.aId,jdbcType=BIGINT},
      </if>
      <if test="record.aName != null" >
        a_name = #{record.aName,jdbcType=VARCHAR},
      </if>
      <if test="record.aKind != null" >
        a_kind = #{record.aKind,jdbcType=VARCHAR},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=BIGINT},
      </if>
      <if test="record.aSeenum != null" >
        a_seenum = #{record.aSeenum,jdbcType=INTEGER},
      </if>
      <if test="record.aCtime != null" >
        a_ctime = #{record.aCtime,jdbcType=VARCHAR},
      </if>
      <if test="record.aText != null" >
        a_text = #{record.aText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map" >
    update ws_article
    set a_id = #{record.aId,jdbcType=BIGINT},
      a_name = #{record.aName,jdbcType=VARCHAR},
      a_kind = #{record.aKind,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      a_seenum = #{record.aSeenum,jdbcType=INTEGER},
      a_ctime = #{record.aCtime,jdbcType=VARCHAR},
      a_text = #{record.aText,jdbcType=LONGVARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update ws_article
    set a_id = #{record.aId,jdbcType=BIGINT},
      a_name = #{record.aName,jdbcType=VARCHAR},
      a_kind = #{record.aKind,jdbcType=VARCHAR},
      user_id = #{record.userId,jdbcType=BIGINT},
      a_seenum = #{record.aSeenum,jdbcType=INTEGER},
      a_ctime = #{record.aCtime,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.weshare.pojo.WsArticle" >
    update ws_article
    <set >
      <if test="aName != null" >
        a_name = #{aName,jdbcType=VARCHAR},
      </if>
      <if test="aKind != null" >
        a_kind = #{aKind,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="aSeenum != null" >
        a_seenum = #{aSeenum,jdbcType=INTEGER},
      </if>
      <if test="aCtime != null" >
        a_ctime = #{aCtime,jdbcType=VARCHAR},
      </if>
      <if test="aText != null" >
        a_text = #{aText,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where a_id = #{aId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.weshare.pojo.WsArticle" >
    update ws_article
    set a_name = #{aName,jdbcType=VARCHAR},
      a_kind = #{aKind,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      a_seenum = #{aSeenum,jdbcType=INTEGER},
      a_ctime = #{aCtime,jdbcType=VARCHAR},
      a_text = #{aText,jdbcType=LONGVARCHAR}
    where a_id = #{aId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.weshare.pojo.WsArticle" >
    update ws_article
    set a_name = #{aName,jdbcType=VARCHAR},
      a_kind = #{aKind,jdbcType=VARCHAR},
      user_id = #{userId,jdbcType=BIGINT},
      a_seenum = #{aSeenum,jdbcType=INTEGER},
      a_ctime = #{aCtime,jdbcType=VARCHAR}
    where a_id = #{aId,jdbcType=BIGINT}
  </update>
</mapper>